body {
    background-image: url('https://plus.unsplash.com/premium_photo-1664300792059-863ccfe55932?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* URL of your background image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Makes the background stay fixed during scrolling */
}

main {
    margin: 50px auto;
    padding: 20px;
    background: rgba(43, 43, 43, 0.5);
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
}

main div {
    border-bottom: 2px solid #444;
}
