#game-container {
    margin: 50px auto;
    text-align: center;
}

#hud {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#player, #enemy {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
}

#enemy {
    background-color: red;
    left: 300px; /* Set enemy starting position */
    top: 150px;
}

#player {
    background-color: green;
    left: 50px; /* Set player starting position */
    top: 50px;
}

img #enemyIcon {
    width: 100px;
    height: 100px;
}
