body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwAqm59AWhOcEjXwGECd2rYS5l__50grumUA&s');
    background-size: cover;
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Makes the background stay fixed during scrolling */
}

#wheel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#wheel {
    border-radius: 50%;
    border: 5px solid #333;
}

#spin-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
